.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #036df5;
}

.footer .edit{
    color:#036df5;
}
.footer button{
    background: none;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border:2px solid #b4b5b9;
    color:grey;

}
.footer button:hover{
    cursor: pointer;
}